body{
    font-family: 'Poppins', sans-serif;
}

.headerbg{
    position: relative;
    background-image: linear-gradient(to right, #0D76A8, #073B54);
}

.containerbg1{

    background-color: #f26fa6;
    position: fixed;
    border-top-left-radius: 80%;
    border-top-right-radius: 1%;
    top: 40%;
    right: 0;
    bottom: 0px;
    left: -13%;
    background-image: linear-gradient(#1ea6d4, #0a1d70);
    z-index: -1;
}

.hintblock{
    height:100%;
    min-height: 250px;
}
.profilepic{
    position: absolute;
    height: 60px;
    width: 60px;
    top: -2px;
    right: 0;
}

.options{
    cursor: pointer;
    width:100%;
    margin-bottom: 10px;
}

